.editor {
	overflow:auto;
	padding: 45px;
	padding-left: 30px;
    padding-top: 100px;
    padding-right: 5px;
    padding-bottom: 15px;
}

.editor  div{
	vertical-align:bottom;
}

.editor .panel-disclosure-element-section a.header td {
	vertical-align : bottom !important;
}

.editor .subsection-inner {
	padding:10px;
}

.editor .spacing {
	padding:4px;
}

/* vertical align to the middle*/

.editor div.link-icon-panel {
	margin-bottom:5px; 
}

.editor .section-panel .header .icons-advanced {
    margin-bottom: 3px;
}

/**** END Align ****/