.advanced {
  width: 100%;
  padding-top: 10px;
  padding-left: 25px;
  padding-bottom: 10px;
}

.advanced div {
  vertical-align: middle;
}

.advanced .panel-smlvertical-child {
  line-height: 22px;
  margin-bottom: 3px;
}

.advanced .rng-choice-pattern {
	margin-top: 4px;
}

.advanced .attribute-panel .gwt-HTML, .advanced .simple-element-panel .gwt-HTML {
  margin-right: 5px;
}
