.advanced div {
    vertical-align: middle;
}

.advanced .panel-smlvertical {
  line-height: 25px;
}

.advanced .rng-disclosure {
	margin-top: 4px;
}

.advanced .rng-choice-pattern {
	margin-top: 4px;
}

.advanced .attribute-panel .gwt-HTML, .advanced .simple-element-panel .gwt-HTML {
  margin-right: 5px;
}
