.editor div {
  vertical-align: middle;
}

.editor > div > div {
  margin-top: 15px;
}

/** override .editor div if v-align-middle is applied **/
.editor div .v-align-middle div {
  vertical-align: middle;
}

.editor .panel-disclosure-element-section a.header td {
  vertical-align : bottom !important;
}

.editor .subsection-inner {
  padding-left: 20px;
}

.editor .default-value {
  color: gray;
  font-style: italic;
}

/* vertical align to the middle*/

.editor div.link-icon-panel {
  margin-bottom: 5px; 
}

.editor .section-panel .header .icons-advanced,
.editor .subsection-header .icons-advanced,
.element-panel .icons-advanced {
  margin-bottom: 3px;
}

.editor .valign-middle div {
  vertical-align: middle;
}

.editor .panel-abstract-generic-line  div{
  vertical-align: middle;
}

/**** END Align ****/

.editor .connection .gwt-TextBox {
  width: 400px;
}

.editor .section-panel .header {
  font-weight: bold;
}

.editor .document-description .gwt-TextArea {
  width: 600px;
  height: 50px;
}

.editor .contact .simple-element-panel > .label {
	min-width: 370px;
}

.editor .panel-abstract-generic-line .label {
	min-width: inherit;
}

.editor .element-panel > div > .label {
  font-weight: bold;
}

.editor .panel-abstract-generic-line .before {
  min-width: 370px;
}