/** the main viewer **/
.viewer {
}

.viewer  div{
  vertical-align: middle;
}

.viewer .document-title div{
  font-weight: bold;
  font-size: 25px;
}

.viewer .section-panel .header {
  font-weight: bold;
}

.viewer .subsection-inner {
  padding-left:10px;
}

.viewer .subsection-header {
  font-weight: bold;
}

.viewer .panel-smlvertical {
    line-height: 25px;
}

.viewer .panel-disclosure-element-section {
    margin-bottom: 10px;
}
