/** the main viewer **/
.viewer {
}

.viewer  div{
  vertical-align:middle;
}

.viewer .document-title div{
  font-weight: bold;
  font-size:25px;
}

.viewer .section-panel .header {
  font-weight: bold;
}

.viewer .subsection-inner {
  padding-top:5px;
  padding-left:10px;
  padding-bottom:5px;
}

.viewer .subsection-header {
  font-weight: bold;
}
